{
  "service_name": "Converion of Files World",
  "available_services": [
    {
      "name": "DocxToPDF",
      "service_func_name": "docx_to_pdf"
    },
    {
      "name": "PNGToWEBP",
      "service_func_name": "png_to_webp"
    },
    {
      "name": "Service C",
      "service_func_name": "service_c_function"
    }
  ]
}
