{
  "service_name": "Converion of Files World",
  "available_services": [
    {
      "name": "DocxToPDF",
      "service_func_name": "docx_to_pdf",
      "description": "DOCX is a propietary Microsoft format for storing documents. Most well known for being used with Word. PDF is a standard for documents and is much more user freindly than DOCX."
    },
    {
      "name": "PNGToWEBP",
      "service_func_name": "png_to_webp",
      "description": "PNG is a lossless image format that has been widely used. WEPB is a newer format that is similarly lossless and gaining popularity."
    },
    {
      "name": "Service C",
      "service_func_name": "service_c_function",
      "description": "Example Service C. This is does this abnd that."
    }
  ]
}
