{
  "service_name": "Converion of Files World",
  "available_services": [
    {
      "name": "DocxToPDF",
      "service_func_name": "docx_to_pdf"
    },
    {
      "name": "Service B",
      "service_func_name": "service_b_function"
    },
    {
      "name": "Service C",
      "service_func_name": "service_c_function"
    }
  ]
}
